* {
  color: white;
}

body {
  background: linear-gradient(180deg, #0e183f 32.29%, #3b4782 100%);
  width: 100vw;
}

.section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

/* .col img {
  height: 300px;
  width: auto;
} */

.section-descr {
  padding: 25px;
  height: 200px;
  max-width: 300px;
  background: radial-gradient(
    100% 99.11% at 0% 0.89%,
    rgba(255, 255, 255, 0.2) 0%,
    rgba(255, 255, 255, 0.04) 100%
  );
  border: 0.5px solid rgba(255, 255, 255, 0.45);
  box-sizing: border-box;
  backdrop-filter: blur(50px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 15px;
}
