* {
  color: white;
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}

*:not(.circle) {
  z-index: 3;
}

.title {
  text-align: center;
  font-weight: 200;
  font-size: 9rem;
  z-index: 2;
}

.content {
  z-index: 2;
}

.circle {
  display: inline;
  position: absolute;
  width: 600px;
  height: auto;
  z-index: 0;
  left: -20px;
  top: 0;
}

.subtitle {
  text-align: center;
  font-weight: 200;
  font-size: 3rem;
  padding-bottom: 50vh;
}

.textbox {
  background: #3a4680;
  padding: 0 !important;
  margin-bottom: 8rem;
}

body {
  background: linear-gradient(180deg, #0e183f 32.29%, #3b4782 100%);
  width: 100vw;
}
.teampic {
  width: 100vw;
  height: auto;
}

.section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.container {
  padding-bottom: 15rem;
}

.textbox .container {
  padding: 5rem;
}

.textbox .container p {
  font-size: 1rem;
  font-weight: 100;
  text-align: center;
  margin: 0;
}
/* .col img {
  height: 300px;
  width: auto;
} */

.section-descr {
  padding: 25px;
  min-height: 200px;
  max-width: 300px;
  background: radial-gradient(
    100% 99.11% at 0% 0.89%,
    rgba(255, 255, 255, 0.2) 0%,
    rgba(255, 255, 255, 0.04) 100%
  );
  border: 0.5px solid rgba(255, 255, 255, 0.45);
  box-sizing: border-box;
  backdrop-filter: blur(50px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 15px;
}

.descr-title {
  font-weight: 700;
  font-size: 1.2rem;
  padding-bottom: 1.2rem;
}

.descr-content {
  font-weight: 200;
}

.iframe-cont {
  position: relative;
  display: block;
  width: 70%; /* width of iframe wrapper */
  height: 300px;
  margin: auto;
  padding: 0% 0% 43.25%; /* 16:9 ratio */
  overflow: hidden;
  margin-bottom: 10rem;
}

iframe {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.project-status {
  justify-content: center;
  text-align: center;
  font-weight: 200;
}

.project-status.title {
  font-size: 2rem;
  padding-bottom: 2rem;
  font-weight: 600;
}

footer {
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background: #0e183f;
  font-size: 0.8rem;
}

footer img {
  width: auto;
  height: 1.7rem;
}
